<h1>Dorm Room Fitness For You! Select a time and muscle group to start!!!!!</h1>


{% block head %}
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
{% endblock %}


{% block page_content %}
    <audio id="over_music">
        <source src="{{ url_for('static', filename='beepbeep.mp3') }}">
    </audio>

    <!-- <div>
        </form>
        <a class="tenButton" href="{{ url_for('minutes', num=10) }}">10 Minute Workout </a>
        <a class="twentyButton" href="{{ url_for('minutes', num=20) }}">20 Minute Workout </a>
        <a class="thirtyButton" href="{{ url_for('minutes', num=30) }}">30 Minutes </a> 
        <br>
        <div class="usage" id="help-info">
            <h3>Select a time that you would like to workout for!</h3><br>
        </div>
    </div> -->



    <div>
        {#% if True %}yay{% endif %#}
    </div>
<div>
   
        <div class="timer">
            <a href="{{ url_for('demo')}}" id="time" ></a>
        </div>
    
    <div class='image'>
        
        <img src={{ actionImage}} alt="" title= {{ action }}>
        <p>Current Action: {{ action }}</p>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
    <script>
        var Minutes = {{num}};
    </script>



{% endblock %}